bittensor==8.3.1
bittensor-wallet==2.1.1
torch==2.5.1
torchvision # because torch version already specific, the right torchvision will be derived automatically
torchaudio # because torch version already specific, the right torchvision will be derived automatically
datasets==2.17.1
pinecone-client==3.1.0
huggingface-hub==0.20.3
ulid-py==1.1.0
yt-dlp==2024.12.6
ffmpeg-python==0.2.0
imagebind @ git+https://github.com/vklachkov/OmegalabsImageBind.git@0704c7987a9c9434d41ad9d97956e7da54d5de50#egg=imagebind
openai==1.51.0
transformers==4.38.2
accelerate==0.28.0
sentencepiece==0.2.0
protobuf==3.20.3
wandb==0.18.7
numpy>=2.0
python-dotenv==1.0.1
google-generativeai
boto3
tabulate
soundfile==0.12.1
pyannote-audio==3.3.2
librosa==0.10.2.post1
